@font-face {
    font-family: "SF Display Thin";
    font-display: block;
    src: url("../fonts/SF_Pro_Display_Thin.woff2");
}

body {
	background: #000; 
	color: #EEE;
	min-width: 350px;
	font-family: 'SF Display Thin', sans-serif;
}

main {
	width: 100%;
  display: flex;
  flex-wrap: wrap; 
}
aside {
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
}
article {
	min-width: 350px;
	margin: 10px;
}

table {
	width: 100%;
}
th {
	text-align: left;
}

tr td {
	width: 50%;
	height:  48px;
}

select {
	height: 48px;
	width: 150px;
}

button {
	min-width: 40px;
	margin-top: 3px;
	margin-bottom: 3px;
}

input {
	height: 48px;
}

canvas {
	position: absolute;
	background: #fff;
	width: 100%;

	height: 145px;
}

.slider {
	width: 150px;
}

.Csharp {
	margin-left: 20px;
}

.Fsharp {
	margin-left: 48px;
}

#oscilloscope_container {
	position: relative;
	
	height: 145px;
}
#oscilloscope_button {
	position: absolute;
	margin: 5px;
}
